body{
    background-color: rgb(38, 38, 38);
  
}

.hero-image{
    height: 100vh;
    background-image:url("https://images.squarespace-cdn.com/content/v1/640d7851962a0f7ef6293d4d/1682049702535-9IVT1Y9NHU7MUK0NFS8S/111.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    /* postioning */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.nav-color{
    color: white;
}

.character-section{
    margin-top: 100px;
    margin-bottom: 100px;
}

.content-wrapper{
    margin-top: 100px;
}

.about-content{
    margin-top: 10px;
}

.char-row-1-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px; 
 }

.char-row-2-wrapper{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 20px; 
}

.char-card{
    background-color: black;
    color: white;
    border: solid;
    border-color: rgb(250, 128, 250), 79, 143;
}

.title-section-wrapper{
    color: white;
    display: flex;
    flex-direction: column;
}

.title-header-wrapper{
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    border: solid;
    border-radius: 5px;
    margin-bottom: 30px;
}

.box{
    border: solid;
    border-color: white;
    width: 500px;
    height: 500px;
}

.img-script-wrapper{
    color: white;
    border: solid;
    border-color: white;
    width: 500px;
    height: 500px;

    font-weight: bold;
    padding: 30px;

    /* postioning
    display: flex;
    justify-content: center */
}

.img-script{
   font-size: 100px;
   font-family: 'Courier New', Courier, monospace;
}

.btn-wrapper{
    margin-top: 200px
}

.page-footer {
    height: 200px;
    border-top: solid 1px white;
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer-column {
    height: 200px;
    width:30%;
    padding: 30px;
    color: rgb(173, 173, 176);
}

.logo {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white

}

.footer-column-title{
    font-weight: bold;
    font-size: 20px;
}